@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
	background-color: #efefef;
}

body{
	font:14px/1.5 Arial, Helvetica, sans-serif;
	margin:0;
}


header{
    box-sizing: border-box;
	text-align: center;
    width: 100%;
    padding: 25px 40px;
    background: linear-gradient(45deg, #6e77a8, #0f7699);
    overflow: hidden;
}


header h1{
    float: left;
	font: normal 24px/1.5 'Open Sans', sans-serif;
	color: #fff;
}

header a{
    color:#fff;
    float: right;
    text-decoration: none;
    display: inline-block;
    padding: 13px 50px;
    border-radius: 3px;
    font: bold 14px/1 'Open Sans', sans-serif;
    text-transform: uppercase;
    background-color:#F05283;

}

ul {
    list-style: none;
    border-bottom: 1px solid #EAEAEA;
    background-color: #FFF;
    padding: 20px;
    margin-top: 0;
    text-align: center;
    margin-bottom: 75px;
}

ul a{
    text-decoration: none;
    color: #FFF;
    text-align: left;
    background-color: #BCB8C2;
    padding: 10px 16px;
    border-radius: 2px;
    opacity: 0.8;
    font-size: 16px;
    display: inline-block;
    margin: 4px;
    line-height: 1;
    outline: none;

    transition: 0.2s ease;
}

ul li a.active{
    background-color: #F05283;
    pointer-events: none;
}

ul li a:hover {
    opacity: 1;
}


ul li{
    display: inline-block;
}


@media (max-width: 1000px) {


    header h1{
        float: none;
    }

    header a{
        margin-top: 25px;
        float: none;
    }

}

.main-content{
    margin-bottom: 75px;
}

/* -- Demo ads -- */

@media (max-width: 1200px) {
	#bsaHolder{ display:none;}
}

/* -- Link to Tutorialzine -- */

.tz-link{
	text-decoration: none;
	color: #fff !important;
	font: bold 36px Arial,Helvetica,sans-serif !important;
}

.tz-link span{
	color: #da431c;
}

html{
    background-color: #f3f3f3;
}

.form-validation{
    box-sizing: border-box;
    max-width: 640px;
    margin: 0 auto;
    padding: 30px;
    background-color:  #ffffff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);

    font: bold 14px sans-serif;
    text-align: center;
}

.form-row{
    position: relative;
    text-align: left;
    margin-bottom: 23px;
}

.form-title-row{
    text-align: center;
    margin-bottom: 55px;
}

.form-validation h1{
    display: inline-block;
    box-sizing: border-box;
    color:  #4c565e;
    font-size: 24px;
    padding: 15px 8px;
    border-bottom: 2px solid #6caee0;
    margin:0;
}

.form-validation .form-row > label span{
    display: inline-block;
    box-sizing: border-box;
    color:  #5f5f5f;
    width: 180px;
    text-align: right;
    padding: 8px 25px;
}

.form-validation input{
    position: relative;
    color:  #5f5f5f;
    box-sizing: border-box;
    width: 100%;
	max-width: 377px;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    padding: 12px 18px;
    border: 1px solid #dbdbdb;
}


/* Styles for Valid input data */

.form-validation .form-valid-data-sign{
    position: absolute;
    color: #ffffff;
    line-height: 24px;
    text-align: center;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    background-color:  #a2cf78;
    left: 440px;
    top: 10px;
    display: none;
}

/* Styles for Invalid input data */

.form-validation .form-invalid-data{
    margin-bottom: 55px;
}

.form-validation .form-invalid-data input{
    border: 1px solid #d37171;
    box-shadow: 2px 3px 4px 0 rgba(200, 77, 77, 0.15);
}

.form-validation .form-invalid-data-sign{
    position: absolute;
    display: none;
    color: #ffffff;
    line-height: 23px;
    font-size: 14px;
    text-align: center;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    background-color: #e17c4f;
    left: 440px;
    top: 10px;
}

.form-validation .form-invalid-data-info{
    display: none;
    position: absolute;
    color: #c84d4d;
    font-weight: normal;
    bottom: -30px;
    left: 183px;
}

.form-invalid-data .form-invalid-data-sign,
.form-invalid-data .form-invalid-data-info{
    display: block;
}

.form-valid-data .form-valid-data-sign{
    display: block;
}

.form-validation select{
    background-color: #ffffff;
    color:  #5f5f5f;
    box-sizing: border-box;
	width: 100%;
    max-width: 378px;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    padding: 12px 18px;
    border: 1px solid #dbdbdb;
}

.form-validation .form-checkbox input{
    width:auto;
}

.form-validation button{
    display: block;
    border-radius: 2px;
    background-color:  #6caee0;
    color: #ffffff;
    font-weight: bold;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    padding: 14px 22px;
    border: 0;
    margin: 0 auto;
}


/* Placeholder color */

.form-validation ::-webkit-input-placeholder {
    color:  #999;
}

.form-validation ::-moz-placeholder {
    color:  #999;
    opacity: 1;
}

.form-validation :-ms-input-placeholder {
    color:  #999;
    opacity: 1;
}

/*	Making the form responsive. Remove this media query
    if you don't need the form to work on mobile devices. */

@media (max-width: 700px) {

    .form-validation{
        margin-top: 0;
        padding: 30px;
        max-width: 480px;
    }

    .form-validation .form-row{
        max-width: 300px;
        margin: 25px auto;
        text-align: left;
    }

    .form-validation .form-title-row{
        margin-bottom: 50px;
    }

    .form-validation h1{
        padding: 0 0 15px 0;
    }

    .form-validation .form-row > label span{
        display: block;
        text-align: left;
        padding: 0 0 15px;
    }

    .form-validation input,
    .form-validation select{
        width: 220px;
    }

    .form-validation .form-valid-data-sign,
    .form-validation .form-invalid-data-sign{
        left: 235px;
        top: 40px;
    }

    .form-validation .form-invalid-data{
        margin-bottom: 55px;
    }

    .form-validation .form-invalid-data-info{
        left: 0;
    }

    .form-validation .form-checkbox span{
        display: inline-block !important;
        width: 100px !important;
    }

    .form-validation button{
        margin: 0;
    }

}

table {
  display: table;
  /*border-spacing: 2px;*/
  border-collapse: separate;
  /* XXXldb do we want this if we're border-collapse:collapse ? */
  box-sizing: border-box;
  text-indent: 0;
  border: 1px solid #cccccc;
  width: 100%;
}

tr {
  display: table-row;
  vertical-align: inherit;
}

td {
  display: table-cell;
  vertical-align: inherit;
  text-align: unset;
  padding: 1px;
  font-weight: 400;
  border-top: 1px solid #cccccc;
}

th {
  display: table-cell;
  vertical-align: inherit;
  font-weight: bold;
  padding: 1px;
  text-align: center;
  color: #6caee0;
}

th, td {
	padding: 8px;
}

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

td.bg-blue {
	color: white;
	background-color: #6caee0;
}

.form-checkbox span {
	width:120px !important;
}

.hidden {
	display: none;
}

button, .tipo {
	cursor: pointer;
}

button:disabled, .tipo:disabled {
	cursor: not-allowed;
}	
	